@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700&display=swap");

.markersList {
  display: flex;
  flex-direction: column;
  position: relative;
}

.markersList h2 {
  background-color: #00695c;
  color: #f1f1f1;
  font-family: "Overpass", sans-serif;
  text-align: center;
  padding: 15px;
  font-weight: 400;
  font-size: 21px;
}

.markersList .marker {
  background-color: #00695c;
  display: grid;
  grid-template-rows: 80px;
  grid-template-columns: 100px 1fr 1fr 200px 50px 1fr 100px;
  align-items: center;
  font-family: "Overpass", sans-serif;
  color: #f1f1f1;
  font-size: 1.1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.markersList .marker:hover {
  background-color: rgba(0, 105, 92, 0.8);
}

.markersList .marker img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  object-fit: cover;
}

.marker__buttons button {
  border: none;
  color: #f1f1f1;
  font-family: "Overpass", sans-serif;
  padding: 8px;
  border-radius: 4px;
  outline-width: 0;
  cursor: pointer;
  width: 100px;
  transition: all 0.3s ease;
  font-weight: 700;
}

.marker__buttons-edit {
  background-color: #138496;
  margin-right: 10px;
}

.marker__buttons-edit:hover {
  color: #138496;
  background-color: #f1f1f1;
}

.marker__buttons-delete {
  background-color: #c82333;
}

.marker__buttons-delete:hover {
  background-color: #f1f1f1;
  color: #c82333;
}

.loadingProfile {
  z-index: 99;
  width: 100%;
  height: 90px;
  background-color: #00695c;
  justify-content: center;
  align-items: center;
  display: flex;
}

.loadingProfile .loader {
  color: #328036;
  font-size: 35px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 25px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    color: white;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    color: white;
  }
  10%,
  50% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
    color: white;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
    color: white;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
    color: white;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    color: white;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
