.nav {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
}

.nav__list {
  list-style-type: none;
  height: 100%;
  display: flex;
  align-items: center;
}
