@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700&display=swap");

.addPointModal {
  position: fixed;
  width: 30%;
  height: 80%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -150vh);
  transition: transform 0.3s ease;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  padding: 25px 15px;
}

.addPointModal.open {
  transform: translate(-50%, -60%);
  transition: transform 0.3s ease;
}

.addPointModal > h2 {
  font-family: "Overpass", sans-serif;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 5px;
}

.addPointModal > h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #00695c;
  bottom: 0;
  left: 0;
}

.addPointModal > form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.addPointModal > form > label {
  margin-bottom: 5px;
  font-family: "Overpass", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin-left: 8px;
}

.addPointModal > form > div > input {
  height: 100%;
  background-color: transparent;
  border: none;
  outline-width: 0;
  width: 100%;
}

.addPointModal > form > div {
  width: 90%;
  border: 1px solid lightgray;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px 5px;
}

.addPointModal > form > .date {
  border: none;
}

.addPointModal > form > .rating,
.addPointModal > form > .photo {
  border: none;
}

.addPointModal > form > .photo > input::-webkit-file-upload-button {
  visibility: hidden;
}

.addPointModal > form > .photo > input::before {
  content: "Select image for this trip";
  display: inline-block;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  border: 1px solid #999;
  border-radius: 7px;
  width: 90%;
  z-index: 3;
}

.addPointModal > form > .photo > input:hover::before {
  border-color: black;
}

.addPointModal > form > .photo > input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.submitPoint {
  padding: 8px 10px;
  border-radius: 12px;
  border: none;
  background-color: #00695c;
  text-transform: uppercase;
  color: #f1f1f1;
  font-weight: bold;
  cursor: pointer;
}

.loader {
  color: #ffffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (min-height: 300px) {
  .addPointModal {
    width: 85%;
    top: 50%;
  }

  .addPointModal.open {
    transform: translate(-50%, -50%);
  }

  .addPointModal > form > div {
    margin-bottom: 0;
    padding: 5px;
  }

  .addPointModal > h2 {
    margin-bottom: 0;
  }
}

@media (min-height: 680px) {
  .addPointModal {
    top: 60%;
    width: 30%;
  }

  .addPointModal.open {
    transform: translate(-50%, -60%);
  }

  .addPointModal > form > div {
    margin-bottom: 15px;
    padding: 10px 5px;
  }

  .addPointModal > h2 {
    margin-bottom: 15px;
  }
}
