@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700&display=swap");

.markerDetails {
  padding: 10px 0;
  background-color: #00695c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f1f1f1;
  font-family: "Overpass", sans-serif;
  font-size: 1.2rem;
  flex-direction: column;
}

.markerDetails__data {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
}

.markerDetails__data > strong {
  padding: 5px 0;
}

.markerDetails__data > span {
  margin: 10px 0;
}

.markerDetails__data > button {
  margin-top: 15px;
  outline-width: 0;
  height: 45px;
  border: none;
  background-color: #138496;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  color: #f1f1f1;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
}

.markerDetails__data > button:hover {
  color: #138496;
  background-color: #f1f1f1;
}

.markerDetails__data img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.markerDetails__data > p {
  margin: 10px 0;
}

.back__arrow {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 40px;
  cursor: pointer;
}

.markerDetails__data .input__wrapper {
  background: transparent;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
}

.markerDetails__data .input__wrapper input {
  background: transparent;
  border: none;
  color: #f1f1f1;
  font-weight: 400;
  font-size: 0.9rem;
  width: 100%;
  outline-width: 0;
}

.loading {
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  display: flex;
}

.loading .loader {
  color: #328036;
  font-size: 35px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 25px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    color: white;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    color: white;
  }
  10%,
  50% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
    color: white;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
    color: white;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
    color: white;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    color: white;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (min-width: 700px) {
  .markerDetails__data {
    width: 60%;
    text-align: center;
    justify-content: center;
  }

  .markerDetails__data > span {
    margin: 10px auto;
  }

  .img__wrapper {
    height: 40%;
  }

  .img__wrapper > img {
    height: 100%;
  }
}
